<div class="body-container" style="padding-bottom: 17px">
  <div class="snippet-body">
    <div class="container-fluid px-1 px-sm-3 py-5 mx-auto">
      <div class="row d-flex justify-content-center">
        <div class="row card0">
          <div class="card1 col-lg-8 col-md-7">
            <!-- <small>the.weather</small> -->
            <div class="text-center">
              <img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png" />
            </div>
            <div class="row px-3 mt-3 mb-1">
              <h1 class="large-font mr-3">
                {{ RoundtheNum(this.temp) }}&#176;{{ typeTemp }}
              </h1>
              <!-- !temp  -->
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <img
                      src="{{ img }}"
                      alt=""
                      style="
                        width: 50px;
                        margin-right: -20px;
                        margin-bottom: 10px;
                      "
                    />
                  </div>
                  <div class="col">
                    <h2 style="width: 10rem">{{ weather }}</h2>
                    <!-- !weater  -->
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column mr-3">
                <div
                  style="display: inline-block; width: 200px"
                  class="d-flex mr-3"
                >
                  <h5>{{ city }}</h5>
                  <img src="{{ gojo }}" style="{{ gojoStyle }}" />
                </div>
                <!-- !ct  -->
                <small
                  >{{ timeIn12HourFormat }} - {{ weekdayName }}, {{ date }}
                  {{ mothName }} '{{ year }}</small
                >
                <!-- !time  -->
              </div>
              <div class="d-flex flex-column text-center">
                <!-- <h3 class="fa fa-sun-o mt-4"></h3> -->
                <!-- <small>Sunny</small> -->
              </div>
            </div>
          </div>
          <div class="card2 col-lg-4 col-md-5">
            <div class="row px-3">
              <input
                type="text"
                name="location"
                #box
                (keyup.enter)="SearchCity(box.value)"
                (keyup.enter)="box.value = ''"
                placeholder="Another location"
                class="mb-5 SearchCity"
                autocomplete="off"
              />
              <div
                (click)="SearchCity(box.value)"
                (click)="box.value = ''"
                class="fa fa-search mb-5 mr-0 text-center"
              ></div>
            </div>
            <div class="mr-5">
              <p (click)="SearchCity('London')" class="light-text suggestion">
                London
              </p>
              <p
                (click)="SearchCity('Manchester')"
                class="light-text suggestion"
              >
                Manchester
              </p>
              <p (click)="SearchCity('Kolkata')" class="light-text suggestion">
                Kolkata
              </p>

              <p
                (click)="SearchCity('California')"
                class="light-text suggestion"
              >
                California
              </p>

              <div class="line my-5"></div>

              <div class="container">
                <p>Weather Details</p>
                <div class="row px-3">
                  <div class="col-6">
                    <!-- <a href = {{link}} class="light-text suggestion">Feels Like</a> -->
                    <p class="light-text suggestion">Feels Like</p>
                  </div>
                  <div class="col-6">
                    <p class="ml-auto">
                      {{ RoundtheNum(feelslike) }}&#176;{{ typeTemp }}
                    </p>
                  </div>
                </div>
                <div class="row px-3">
                  <div class="col-6">
                    <p class="light-text suggestion">Humidity</p>
                  </div>
                  <div class="col-6">
                    <p class="ml-auto">{{ humidity }} %</p>
                  </div>
                </div>
                <div class="row px-3">
                  <div class="col-6">
                    <p class="light-text suggestion">Wind</p>
                  </div>
                  <div class="col-6">
                    <p class="ml-auto suggestion">{{ wind }} {{ windUnit }}</p>
                  </div>
                </div>
                <div class="row px-3">
                  <div class="col-6">
                    <p class="light-text suggestion">Pressure</p>
                  </div>
                  <div class="col-6">
                    <p class="ml-auto">{{ pressure }} mbar</p>
                  </div>
                </div>
              </div>

              <div class="line mt-3"></div>

              <img
                src="https://cdn2.iconfinder.com/data/icons/weather-color-2/500/weather-07-512.png"
                alt=""
                srcset=""
                style="height: 60px"
              />
              <p style="display: inline-block" class="light-text suggestion">
                Sunrise : {{ sunrise }} AM
              </p>
              <p></p>
              <img
                src="https://cdn2.iconfinder.com/data/icons/weather-color-2/500/weather-09-512.png"
                alt=""
                srcset=""
                style="height: 60px"
              />
              <p style="display: inline-block" class="light-text suggestion">
                Sunset : {{ sunset }} PM
              </p>
            </div>
          </div>
        </div>

        <script
          type="text/javascript"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        ></script>
        <script type="text/javascript" src="#"></script>
        <script type="text/javascript" src="#"></script>
        <script type="text/javascript" src="#"></script>
        <script type="text/javascript"></script>
        <script type="text/javascript">
          var myLink = document.querySelector('a[href="#"]');
          myLink.addEventListener("click", function (e) {
            e.preventDefault();
          });
        </script>
      </div>
    </div>
  </div>
</div>
