<div class="container mt-5 w-50 h-100">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img
            src="../../../assets/Images/Extras/Cat.jpeg"
            width="100"
            class="rounded-circle"
          />
        </div>

        <div class="text-center mt-3">
          <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
          <h5 class="mt-2 mb-0">Yash Kolhatkar</h5>
          <span>Full Stack Developer</span>

          <div class="px-4 mt-1">
            <p class="fonts">
            I'm a second-year Computer Science student with a passion for
              programming and web development. Angular is my forte, and I
              recently built a weather app project using it. Exploring the world
              of coding, I've delved into HTML, CSS, and TypeScript, honing my
              skills with each line of code. Collaborative and curious, I thrive
              on challenges and seek opportunities to grow. From loops to
              functions, I navigate the complexities of code, crafting solutions
              to real-world problems. Eager to contribute to innovative projects
              and make a difference, I'm driven by the endless possibilities of
              technology. Let's connect and create something remarkable
              together!
            </p>
          </div>

          <ul class="social-list">
            <!-- <li><i class="fa fa-facebook"></i></li> -->
            <li>
              <a
                href="https://www.instagram.com/yash__kolhatkar/"
                target="_blank"
                class="fa fa-instagram custom-link"
              ></a>
            </li>
            <li>
              <a
                href="https://github.com/yashkolhatkar09"
                target="_blank"
                class="fa fa-github custom-link"
              ></a>
            </li>

            <li>
              <a
                href="https://www.linkedin.com/in/yash-kolhatkar-701618256"
                target="_blank"
                class="fa fa-linkedin custom-link"
              ></a>
            </li>
            <li>
              <a
                href="https://mail.google.com/mail/u/1/#inbox"
                class="fa fa-google custom-link"
              ></a>
            </li>
          </ul>

          <!-- <div class="buttons">
            <button
              class="btn btn-outline-primary px-4"
              onclick="openMessagesApp()"
            >
              Message
            </button>
            <button
              class="btn btn-primary px-4 ms-3"
              onclick="openContactApp()"
            >
              Contact
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function openMessagesApp() {
    // Open the messaging app with the provided phone number
    window.location.href = "sms:9145036362";
  }

  function openContactApp() {
    // Open the contact app with the provided phone number
    window.location.href = "tel:9145036362";
  }
</script>
